body {
  max-width: 1440px;
  font-family: "Calibri Bold", AvenirNext, Avenir, -apple-system, BlinkMacSystemFont, "Roboto Slab", "Droid Serif", "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, Georgia, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  text-transform: capitalize;
  padding: 10px 15px;
  margin: 0;
  background:	#808080;
}

.nav-container img {
  width: 160px;
  height: 80px;
  margin: 0;
}

.nav-btns {
  display: flex;
  margin-top: 12px;
  margin-left: 15px;
}

.nav-item {
  display: block;
  list-style: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

.nav-container a {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 12px;
}

.nav-container a:hover {
  cursor: pointer;
}

.spacing-nav:hover {
  background: #707070;
}

.spacing-nav {
  display: block;
  margin-top: 8px;
  margin-right: 5px;
}

.more-btn {
  background: #686868;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 40px;
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  border: solid 1px gray;
}

.more-btn:hover {
  background:	#505050;
}

.more-btn i {
  font-size: 23px;
  margin-left: 8px;
}

.searchArti-form i {
  position: absolute;
  margin-top: 17px;
  margin-left: 20px;
  font-size: 22px;
  color: gray;
  padding: 0;
}

.searchArti-form input {
  display: block;
  width: 285px;
  height: 53px;
  border-radius: 10px;
  padding-left: 50px;
  font-weight: 600;
  margin-top: 12px;
  border: none;
}

::placeholder {
  font-size: 18px;
}

.text-seriousBtn {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  cursor: pointer;
}

.miss-articles {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-right: 135px;
  font-size: 35px;
  line-height: 45px;
  width: 400px;
  position: relative;
}

.seriously-btn {
  width: 250px;
  height: 40px;
  display: flex;
  position: relative;
  margin-right: 50px;
}

.serious-text {
  max-height: 40px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
  position: relative;
}

.serious-text:hover {
  background: #fff;
  color: gray;
}

.serious-icon i {
  width: 50px;
  height: 50px;
  border: solid 1px;
  font-size: 45px;
  margin-top: -3px;
  margin-right: 15px;
  color: gray;
  background: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-right:0;
  padding-bottom: -5px;
  padding-left: 5px;
}

.article-a {
  display: block;
  height: 60px;
  background-color: white;
}

.article-b {
  background-color: white;
  width: 150px;
  margin-left: 120px;
  margin-top: -50px;
}

.grid-container {
display: grid;
background-color: gray;
grid-template-columns: 50% 50%;
margin-top: -220px;
margin-bottom: 0;
}

.grid-container img {
  height: 80px;
  width: 80px;
  margin-left: 70px;
}

.grid-item {
  border: 1px solid green; 
  padding-bottom: 50px;
  padding-top: 230px
}

.mini-flex {
  display: flex; 
}

.img-para,
.img-para-b {
  margin-left: 20px;
  color: white;
}

.grid-container .para{
  margin-left: 70px;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.grid-comment {
  font-size: 15px;
}

.mini-flex-hash {
  display: flex;
  margin-left: 70px;
  height: 30px;
}

/*.hash-two {
  padding-top: 20px
}*/

.hash {
  margin-left: 20px;
}

.number {
  font-size: 13px;
  margin-top: -5px;
}

.arrow {
  margin-top: 80px;
  margin-left: 80px;
}

.arrow i {
  color: #fff;
  font-size: 30px;
}

.grid-item span {
  color: #fff;
}

.grid-item-c {
  margin-top: -150px;
}

.cat-fire-cont {
  background: darkslategray;
  margin-top: 0;
  padding: 70px 15px;
}

.cat-text {
  width: 680px;
  font-size: 19px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
  margin-right: 0;
  padding: 0;
}

.cat-img {
  float: right;
  max-width: 100px;
  position: relative;
  display: block;
  margin-left: 50px;
}

.cat-img img {
  width: 250px;
  height: 300px;
  margin-top: -350px;
  margin-left: 200px;
}

.cat-text ul {
  clear: right;
}

.cat-btn button {
  height: 60px;
  width: 400px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  background: greenyellow;
  color: #fff;
}

.cat-btn i {
  font-size: 15px;
  margin-left: 15px;
}

.cat-text a {
  text-decoration: none;
  color: #fff;
}

.articles-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 0;
  padding: 40px 0;
}

.one-article {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 575px;
}

.one-article a {
  color: black;
}

.art-days {
  font-size: 10px;
  color: gray;
  margin-bottom: -20px;
}

.art-days span {
  font-size: 15px;
}

.art-title {
  font-size: 25px;
  color: black;
}

.art-author {
  font-weight: 600px;
  margin-top: -15px;
  color: gray;
}

.art-author a {
  color: gray;
  font-weight: 600px;
}

.art-para {
  line-height: 25px;
  text-align: justify;
}

.art-arrow-1 {
  margin-top: 70px;
}

.art-arrow-2 {
  margin-top: 170px;
}

.art-arrow-3 {
  margin-top: 110px;
}

.art-arrow-1 i,
.art-arrow-2 i,
.art-arrow-3 i {
  color: red;
  font-size: 15px;
}

.members-img-cont {
  margin: 0 50px;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.members-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.shopify-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: lightgray;
  border-radius: 10px;
  width: 110%;
}

.shopify-box img {
  width: 200px;
  height: 100px;
}

.shopify-box p {
  max-width: 300px;
  text-align: center;
}

.members-right {
  width: 70%;
  background: gray;
  border-radius: 10px;
}

.baristaCat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baristaCat-box img {
  width: 250px;
  height: 350px;
}

.members-para {
  max-width: 500px;
}