body {
  max-width: 1440px;
  font-family: "Calibri Bold", AvenirNext, Avenir, -apple-system, BlinkMacSystemFont, "Roboto Slab", "Droid Serif", "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, Georgia, serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  align-items: flex-start;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 25px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  background:	#808080;
}

.nav-container img {
  width: 160px;
  height: 80px;
  margin: 0;
}

.nav-btns {
  display: flex;
  margin-top: 12px;
  margin-left: 15px;
}

.nav-item {
  display: block;
  list-style: none;
  font-size: 18px;
  font-weight: 550;
  color: white;
  cursor: pointer;
}

.nav-container a {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 12px;
}

.nav-container a:hover {
  cursor: pointer;
}

.spacing-nav:hover {
  background: #707070;
}

.spacing-nav {
  display: block;
  margin-top: 8px;
  margin-right: 5px;
}

.more-btn {
  display: flex;
  background: #686868;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 40px;
  font-size: 18px;
  font-weight: 550;
  text-transform: capitalize;
  border: solid 1px gray;
}

.more-btn:hover {
  background:	#505050;
}

.more-w {
  margin-top: 5px;
  display: inline-block;
}

.more-btn img {
  width: 30px;
  height: 30px;
  margin-left: 7px;
}

.searchArti-form i {
  position: absolute;
  margin-top: 17px;
  margin-left: 20px;
  font-size: 22px;
  color: gray;
  padding: 0;
}

.searchArti-form input {
  display: block;
  width: 285px;
  height: 53px;
  border-radius: 10px;
  padding-left: 50px;
  font-weight: 600;
  margin-top: 12px;
  border: none;
}

::placeholder {
  font-size: 18px;
}

.text-seriousBtn {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  cursor: pointer;
}

.miss-articles {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  margin-right: 60px;
  font-size: 35px;
  line-height: 45px;
  width: 500px;
  position: relative;
}

.seriously-btn {
  width: 250px;
  height: 40px;
  display: flex;
  position: relative;
  margin-right: 50px;
}

.serious-text {
  max-height: 40px;
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  border: solid 1px #fff;
  border-radius: 10px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin: 0;
  position: relative;
}

.serious-text:hover {
  background: #fff;
  color: gray;
}

.serious-icon i {
  width: 50px;
  height: 50px;
  border: transparent;
  font-size: 45px;
  margin-top: -3px;
  margin-right: 15px;
  color: gray;
  background: white;
  border-radius: 10px;
  padding-top: 5px;
  padding-right:0;
  padding-bottom: -5px;
  padding-left: 5px;
}

.gridI-color-1,
.gridI-color-4 {
  background: #949494;
}

.gridI-color-2 {
  background: #A6A6A6;
}

.gridI-color-3 {
  background: #8C8C8C;
}

.article-a {
  display: block;
  width: 90%;
  height: 80%;
  background-color: white;
}

.article-b {
  background-color: white;
  width: 35%;
  height: 45%;
  margin-left: 150px;
  margin-top: -46px;
}

.grid-container {
  display: grid;
  background-color: gray;
  grid-template-columns: 50% 50%;
  margin-top: -220px;
  margin-bottom: 0;
}

.grid-container img {
  height: 80px;
  width: 80px;
  margin-left: 70px;
  padding: 0;
  border: solid 5px #fff;
  border-radius: 10px;
}

.grid-item { 
  padding-bottom: 50px;
  padding-top: 230px
}

.mini-flex {
  display: flex; 
}

.img-para,
.img-para-b {
  margin-left: 20px;
  color: white;
}

.grid-container .para{
  margin-left: 70px;
  color: white;
  font-size: 28px;
  font-weight: 700;
}

.grid-comment {
  font-size: 15px;
}

.mini-flex-hash {
  display: flex;
  margin-left: 70px;
  height: 30px;
}

.hash {
  margin-left: 20px;
}

.number {
  font-size: 13px;
  margin-top: -5px;
}

.arrow {
  margin-top: 80px;
  margin-left: 80px;
}

.arrow i {
  color: #fff;
  font-size: 30px;
}

.grid-item span {
  color: #fff;
}

.grid-item-c {
  margin-top: -150px;
}

.cat-fire-cont {
  background: #6E6E6E;
  margin-top: 0;
  padding: 70px 15px;
}

.cat-text {
  width: 680px;
  font-size: 19px;
  line-height: 28px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 70px;
  margin-right: 0;
  padding: 0;
  position: relative;
  display: block;
}

.cat-img {
  float: right;
  max-width: 100px;
  position: relative;
  display: block;
  margin-left: 50px;
}

.cat-img img {
  width: 300px;
  height: 300px;
  margin-top: -250px;
  margin-left: 130px;
}

.cat-btn button {
  height: 60px;
  width: 400px;
  border-radius: 10px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  background: gray;
  color: #fff;
  margin-top: 20px;
}

.cat-btn i {
  font-size: 15px;
  margin-left: 15px;
}

.cat-text a {
  text-decoration: none;
  color: #fff;
}

.articles-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 60px;
  margin-right: 0;
  padding: 40px 0;
}

.light-grey {
  background: #F0F0F0;
}

.one-article {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 575px;
}

.one-article a {
  color: black;
}

.art-days {
  font-size: 10px;
  color: gray;
  margin-bottom: -20px;
}

.art-days span {
  font-size: 15px;
}

.art-title {
  font-size: 25px;
  color: black;
}

.art-author {
  font-weight: 600px;
  margin-top: -10px;
  margin-bottom: 0;
  color: gray;
  font-size: 15px;
}

.art-author a {
  color: gray;
  font-weight: 700px;
  font-size: 15px;
}

.art-para {
  line-height: 28px;
  text-align: justify;
  font-size: 17px;
  word-spacing: 1.5px;
}

.art-para a {
  color: #006fc6;;
}

.art-arrow-1 {
  margin-top: 65px;
}

.art-arrow-2 {
  margin-top: 125px;
}

.art-arrow-3 {
  margin-top: 120px;
}

.art-arrow-1 i,
.art-arrow-2 i,
.art-arrow-3 i {
  color: red;
  font-size: 15px;
}

.members-img-cont {
  margin-top: -50px;
  margin-bottom: 20px; 
  margin-left: 50px;
  margin-right: 70px;
  display: flex;
  max-width: 100%;
  justify-content: space-between;
  padding: 0;
}

.members-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 35px;
}

.shopify-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #DCDCDC;
  border-radius: 10px;
  border: solid 1px gray;
  padding-top: 15px;
  padding-bottom: 30px;
  width: 110%;
}

.shopify-box img {
  width: 180px;
  height: 50px;
}

.shopify-box p {
  max-width: 300px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 28px;
}

.shop-a-para {
  text-decoration: none;
  color: black;
}

.shop-a-para:hover {
  color: 	#8A8A8A;
}

.members-right {
  width: 68%;
  background: gray;
  border-radius: 10px;
  padding-bottom: 30px;
}

.baristaCat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baristaCat-box img {
  width: 250px;
  height: 350px;
}

.members-para {
  max-width: 500px;
  line-height: 28px;
  text-align: center;
}

.art2-arrow-1 {
  margin-top: 140px;
}

.art2-arrow-2 {
  margin-top: 80px;
}

.art2-arrow-3 {
  margin-top: 130px;
}

.art2-arrow-1 i,
.art2-arrow-2 i,
.art2-arrow-3 i {
  color: red;
  font-size: 15px;
}

.one-article-2 {
  display: flex;
  flex-direction: column;
  width: 320px;
  height: 575px;
}

.one-article-2 a {
  color: black;
}

.art3-arrow-1 {
  margin-top: 240px;
}

.art3-arrow-1 i {
  color: red;
  font-size: 15px;
}